*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Pretendard",sans-serif;
}

body{
    background:#121212;
    color:white;
}

.container{
    max-width:700px;
    margin:0 auto;
    padding:15px;
}

.title{
    text-align:center;
    font-size:28px;
    margin-bottom:20px;
}

.search-box{
    display:flex;
    flex-direction:column;
    gap:12px;
}

select,
input{
    width:100%;
    height:55px;
    padding:0 15px;
    font-size:16px;
    color:white;
    background:#1f1f1f;
    border:1px solid #333;
    border-radius:12px;
}

button{
    height:55px;
    border:none;
    border-radius:12px;
    background:#3a3a3a;
    color:white;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
}

.result{
    margin-top:15px;
    background:#1c1c1c;
    border-radius:14px;
    overflow:hidden;
}

.result-header{
    background:#2a2a2a;
    padding:12px;
    text-align:center;
    font-weight:700;
}

.result-body{
    padding:15px;
    text-align:center;
    line-height:1.8;
}

.stage-container{
    margin-top:15px;
    display:flex;
    justify-content:center;
}

.stage-label{
    width:240px;
    background:#EDEDE9;
    color:black;
    text-align:center;
    padding:12px;
    border-radius:12px;
    font-size:22px;
    font-weight:700;
}

.company-layout{
    margin-top:15px;
    display:flex;
    gap:8px;
}

.company-wrapper{
    flex:1;
    text-align:center;
    padding:6px;
    border-radius:24px;
    transition:.2s;
}

.company-wrapper h3{
    margin-bottom:8px;
}

.company-box{
    height:420px;
    background:#EDEDE9;
    border-radius:16px;
    padding:4px;
    display:grid;
    gap:3px;
    overflow-y:auto;
}

.seat{
    min-height:22px;
    background:#d6d6d6;
    color:black;
    border-radius:4px;
    font-size:9px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.active-company{
    border:3px solid #6CFD33;
    background:#444;
    box-shadow:0 0 12px rgba(108,253,51,.8);
}

.active-company h3{
    color:white;
}

.selected-seat{
    background:#ff3b30 !important;
    color:white !important;
    font-weight:bold;
}

@media(max-width:480px){

    .title{
        font-size:24px;
    }

    .company-box{
        height:500px;
    }

    .seat{
        font-size:8px;
    }
}
